.footerlinks {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
    transition: color 0.2s !important; /* Единый переход для всех ссылок */
}

#footer1 {
    background: #762b00;
}

#footer2 {
    background: #531f00;
}

.navbar-nav.right-section {
    margin-left: auto !important;
}

/* Общая подсветка для всех ссылок */
.footerlinks:hover {
    color: yellow !important;
}

/* Специфичный стиль для нижней ссылки */
#footer2 .footerlinks {
    color: whitesmoke !important;
}

    /* Подсветка для нижней ссылки при наведении */
    #footer2 .footerlinks:hover {
        color: yellow !important;
    }

/* Состояния активных/фокусных ссылок */
.footerlinks:active,
.footerlinks:focus {
    color: inherit !important;
    outline: none !important;
}

#footer2 p {
    margin: 0;
}
