

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h4>Author Details</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <img width="100px" src="~/Images/Writer.png" />
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Author ID</label>
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="ID" />
                                <button class="btn btn-primary">Go</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>Author Name</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Author Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-4">
                            <button class="btn btn-success">Adding</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-warning">Update</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_Homepage" })">Back to Home Page</a>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h4>Author List</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Данные из базы будут загружаться сюда -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

