
<section>
    <img src="~/Images/1.png" class="img-fluid" />
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Our features</h2>
                <p><b>Our 3 primary features - </b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150px" src="~/Images/D-inventory.png" />
                <h4>Digital book inventory</h4>
                <p class="text-justify"> Something interesting about our digital book inventory. I don't want to describe it. </p>
            </div>

            <div class="col-md-4 text-center">
                <img width="150px" src="~/Images/Search.png" />
                <h4>Search books</h4>
                <p class="text-justify"> In this website user can find book in our library. </p>
            </div>

            <div class="col-md-4 text-center">
                <img width="150px" src="~/Images/defaulter%20list.png" />
                <h4>Defaulter list</h4>
                <p class="text-justify"> In this website user can find book in our library. (I know, that is not correct description)</p>
            </div>
        </div>
    </div>
</section>

<section>
    <img src="~/Images/2.png" class="img-fluid" />
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Our Process</h2>
                <p><b>We have a Simple 3 step process</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150px" src="~/Images/SignUp.png" />
                <h4>Sign up</h4>
                <p class="text-justify"> Create an account in our website and explore our library. </p>
            </div>

            <div class="col-md-4 text-center">
                <img width="150px" src="~/Images/Search.png" />
                <h4>Search books</h4>
                <p class="text-justify"> In this website user can find book in our library. </p>
            </div>

            <div class="col-md-4 text-center">
                <img width="150px" src="~/Images/Library.png" />
                <h4>Visit us</h4>
                <p class="text-justify"> Visit our library if you find an interesting book in our website and enjoy it, while you are reading it.</p>
            </div>
        </div>
    </div>
</section>
